.NothingOnCart {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.NothingOnCart__title {
	margin-bottom: 30px !important;
}

.NothingOnCart__button {
	background-color: #663399;
	padding: 8px !important;
}

.NothingOnCart__button:hover {
	background-color: #664499;
}

.cartProducts {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 30px 0 !important;
}

table {
	width: 70%;
	text-align: center;
}

table thead tr th,
table tbody tr td h2 {
	color: #F2F2F2 !important;
}

table tbody tr {
	background-color: #333333;
	border: 5px solid #222222;
}

table tbody tr td h2,
table tbody tr td button {
	font-size: 19px;
	font-weight: 400;
	margin: 0 !important;
	padding: 0 !important;
}

table tbody tr td img {
	width: 70px;
	height: 70px;
	object-fit: cover;
	border-radius: 50%;
	outline: 1px solid #663399;
}

table thead tr th {
	position: relative;
	padding: 20px 15px !important;
	font-size: 20px;
}

table tbody tr td {
	padding: 10px 20px !important;
}

table tbody tr td:last-child button {
	color: #F2F2F2;
	width: 35px;
	height: 35px;
	background-color: #FF0000 !important;
	border-radius: 50%;
	line-height: 25px;
}

table tbody tr td:last-child button:hover {
	background-color: #CC0000 !important;
}

.emptyButton {
	background-color: #FF0000 !important;
	padding: 8px !important;
	font-size: 18px;
	border-radius: 0.25rem;
	margin-top: 30px !important;
}

.emptyButton:hover {
	background-color: #CC0000 !important;
}

.totalPrice {
	margin-top: 60px !important;
}

.buyButton {
	background-color: #777777 !important;
	font-size: 18px;
	padding: 8px 20px !important;
	margin-top: 10px !important;
	border-radius: 0.25rem;
}

.buyButton:hover {
	background-color: #555555 !important;
}