.cart a {
	display: flex !important;
	align-items: center !important;
	margin-right: 50px !important;
	cursor: pointer;
}

.cart span {
	margin-right: 10px !important;
}

.cart div {
	font-size: 30px !important;
}

.cart:hover > div i {
	color: #9B9B9B !important;
}