.unicItem {
	width: 75%;
	height: 100% !important;
	text-align: center !important;
	background-color: #222222 !important;
	border: none !important;
	display: flex;
	flex-direction: row;
}

.unicItem img {
	max-width: 500px;
	object-fit: cover !important;
}

.unicItem .card-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px !important;
}

.unicItem .card-body div {
	text-transform: uppercase !important;
	font-weight: 600 !important;
	padding: 10px !important;
}

.unicItem .card-body p {
	font-weight: 300 !important;
}

.unicItem .card-body p:nth-child(2) {
	margin: 5px 0 0 0 !important;
	padding: 0 20px !important;
}

.unicItem .card-body p:nth-child(3) {
	font-size: 25px;
	font-weight: 400 !important;
	margin-top: 30px !important;
	padding: 10px 20px !important;
	background-color: #333333;
}

.unicItem button {
	background-color: #F2F2F2 !important;
	color: #222222 !important;
	padding: 4px 13px !important;
	text-transform: uppercase !important;
	font-weight: 600 !important;
	transition: all .15s;
}

.unicItem button:hover {
	background-color: #777777 !important;
	color: #F2F2F2 !important;
}

.unicItem .card-body .addToCartContainer {
	text-transform: none !important;
}

.unicItem .card-body .addToCartContainer .productAdded {
	margin: 17px 0 10px 0 !important;
	color: lightgoldenrodyellow !important;
}