.counterElementsContainer {
	display: flex !important;
	align-items: center !important;
}

.counterElements .counterElementsContainer button {
	font-size: 13px !important;
	padding: 4px 13px !important;
	background-color: #F2F2F2 !important;
}

.counterElements .counterElementsContainer button i {
	font-style: normal !important;
	color: #222222 !important;
}

.counterElements .counterElementsContainer span {
	font-size: 40px !important;
	font-weight: 400;
	color: #F2F2F2 !important;
	width: 65px !important;
	text-align: center !important;
}

.counterElements .counterElementsContainer .buttonCounter {
	transition: all .15s !important;
	border-radius: 0.25rem;
}

.counterElements .counterElementsContainer .buttonCounter i {
	transition: all .15s !important;
}

.counterElements .counterElementsContainer .buttonCounter:hover {
	background-color: #777777 !important;
}

.counterElements .counterElementsContainer .buttonCounter:hover > i {
	color: #F2F2F2 !important;
}