@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
	font-family: 'Red Hat Text', sans-serif;
	color: #F2F2F2;
}

body {
	background-color: #222222;
	padding: 50px;
}

nav {
	display: flex;
	justify-content: space-between;
}

nav .logo {
	display: flex;
	align-items: center;
}

nav .logo div {
	width: 50px;
	height: 50px;
	background-color: #F2F2F2;
	border-radius: 50%;
}

nav .logo p {
	margin-left: 10px;
	font-size: 20px;
	font-weight: 700;
}

nav ul {
	display: flex;
	align-items: center;
}

nav ul li a {
	font-weight: 500;
}

nav ul li a:hover {
	color: #9B9B9B;
}

nav ul .cart {
	display: flex;
	align-items: center;
	margin-right: 50px;
}

nav ul .cart span {
	margin-right: 10px;
}

nav ul .cart div {
	width: 30px;
	height: 30px;
	background-color: #F2F2F2;
	border-radius: 50%;
}

nav ul li:nth-child(3) {
	margin: 0 50px;
}