
/*Button style resetter.*/

button {
	background-color: initial !important;
	border: initial !important;
	cursor: pointer !important;
}

/*----------------------------------------------------------------------------------*/

nav {
	display: flex !important;
	justify-content: space-between !important;
}

nav .logo {
	display: flex !important;
	align-items: center !important;
}

nav .logo div {
	width: 50px !important;
	height: 50px !important;
	background-color: #F2F2F2 !important;
	border-radius: 50% !important;
}

nav .logo p {
	margin-left: 10px !important;
	font-size: 20px !important;
	font-weight: 700 !important;
}

nav ul {
	display: flex !important;
	align-items: center !important;
}

nav ul li a {
	font-weight: 500 !important;
}

nav ul li a:hover {
	color: #9B9B9B !important;
}

nav ul li:nth-child(3) {
	margin: 0 50px !important;
}