@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;500;700&display=swap');

.fa, .far, .fas {
  font-family: FontAwesome !important;
}

* {
  margin: 0 !important;
  padding: 0 !important;
  list-style-type: none !important;
  text-decoration: none !important;
  font-family: 'Red Hat Text', sans-serif !important;
  color: #F2F2F2 !important;
}

body {
  background-color: #222222 !important;
  padding: 50px !important;
}